<launch>
  <rosparam file="$(find local_planner)/cfg/params.yaml" command="load" />
  <arg name="model" default="$(find local_planner)/cfg/description.urdf"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node pkg="local_planner" type="local_planner" name="local_planner" output="screen" />
</launch>